eval "$(devbox generate direnv --print-envrc)"

export ENVNAME=cmake
export TOP_HEAD=$(cd -- "$(dirname -- "${BASH_SOURCE[0]}")" &> /dev/null && pwd)
export PROJECT_DIR=$TOP_HEAD
export PFLDS=$TOP_HEAD/include:$TOP_HEAD/src

export CMAKE_PREFIX_PATH=$TOP_HEAD/.devbox/nix/profile/default:$HOME/.local
export PKG_CONFIG_PATH=$HOME/.local/lib/pkgconfig:$TOP_HEAD/.devbox/nix/profile/default/lib/pkgconfig

export BUILD_SYSTEM=cmake
export CC=gcc

unset GITHUB_TOKEN
export PATH=$PATH:$TOP_HEAD/build:$TOP_HEAD/build/linux/$(uname -m)/release/

export_alias _b "cd $TOP_HEAD && make build; cd -"
export_alias _x "cd $TOP_HEAD && make reconfig; cd -"
export_alias _c "cd $TOP_HEAD && make config; cd -"
export_alias _r "cd $TOP_HEAD && make run; cd -"
export_alias _t "cd $TOP_HEAD && make test; cd -"
